.navbar-body {
    height: 100px;
    background-image: linear-gradient(#ffbd2f, #ff9a26);
}

#logo-image {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    margin-right: 10px;
}

.app-title {
    font-size: 23px;
}

